<ActionBar title="registration" class="action-bar">
</ActionBar>
<StackLayout #container>
  <TextField hint="Email Address" keyboardType="email"
    autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Display Name"></TextField>
    <TextField hint="Full Name"></TextField>
  <TextField hint="Password" secure="true"></TextField>
  <TextField hint="Verify Password" secure="true"></TextField>
  <Switch checked="{{ instuctorStatus }}"></Switch>

  <Button class="submit-button"></Button>
  <Button text="Register"></Button>
</StackLayout>
