<ActionBar title="registration" class="action-bar">
</ActionBar>

<StackLayout>
  <div *ngIf="!showForm">
    <Button class="submit-button" text="Register as student" (tap)="setRegistrantIdentity('student')"></Button>
    <Button class="submit-button" text="Register as instructor" (tap)="setRegistrantIdentity('instructor')"></Button>
  </div>
  <div *ngIf="showForm">
    <TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="email" >
    </TextField>
    <TextField hint="Display Name" [(ngModel)]="displayName">
    </TextField>
    <TextField hint="Full Name" [(ngModel)]="fullName">
    </TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="password">
    </TextField>
    <TextField hint="Verify Password" secure="true" [(ngModel)]="confirmPassword">
    </TextField>
    <Button class="submit-button" text="Register" (tap)="createUser()">
    </Button>
    <Button class="submit-button" text="Cancel" (tap)="revealForm(false)">
    </Button>
    <Button class="submit-button" text="Cancel2" (tap)="revealForm(false)">
    </Button>

  </div>

</StackLayout>
