<ActionBar title="registration" class="action-bar">
</ActionBar>

<StackLayout>
  <div *ngIf="!showForm">
    <Button class="submit-button" text="Register as student" (tap)="setRegistrantIdentity('student')"></Button>
    <Button class="submit-button" text="Register as instructor" (tap)="setRegistrantIdentity('instructor')"></Button>
  </div>
  <div *ngIf="showForm">
    <TextField  hint="Email Address" [(ngModel)]="email" keyboardType="email" autocorrect="false" autocapitalizationType="none" >
    </TextField>
    <TextField  *ngIf="isDirty(email)" [text]="updateEmailInputStatus()">
    </TextField>

    <TextField hint="Display Name" [(ngModel)]="displayName">
    </TextField>
    <TextField  *ngIf="isDirty(displayName)" [text]="updateDisplayNameInputStatus()">
    </TextField>

    <TextField hint="Full Name" [(ngModel)]="fullName">
    </TextField>
    <TextField  *ngIf="isDirty(fullName)" [text]="updateFullNameInputStatus()">
    </TextField>

    <!-- <TextField hint="Password" #password >
    </TextField>
    <TextField  *ngIf="isDirty(password)" [text]="updatePasswordInputStatus()">
    </TextField> --> 
    
    <!-- <TextField hint="Verify Password" #confirmPassword >
    </TextField>
    <Button *ngIf="inputsValid()" class="submit-button" text="Register" (tap)="createUser()">
    </Button>
    <Button class="submit-button" text="Cancel" (tap)="revealForm(false)">
    </Button>
  </div>
</StackLayout>

<!-- 
  [(ngModel)]="email"
[(ngModel)]="displayName"
[(ngModel)]="fullName"
[(ngModel)]="password"
[(ngModel)]="confirmPassword" -->